@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --clr-text-main: #2b283a;
    --clr-text-light: #918e9b;

    --clr-background-light: #ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.navbar--data {
  background-color: #F55A5A;
  text-align: center;
  padding: 20px;
  color: #FFFFFF;
}

/*Body   */

.body {
  margin: auto;
  display: flex;
  padding: 20px;
  
}

.body-list {
  display: flex;
  flex-direction: column;
  padding: 4em 3em;
}

.body {
  color: var(--clr-text-main);
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

.body--img {
  height: 100%;
  /* width: 20vw; */
  width: 20em;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.3em;
  padding: 20px;
  transform: scale(1);
  transition: all 650ms ease-in-out;
}

.body--img:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  /* filter: brightness(80%); */
}

.body--infos {
  margin-left: 1em;
  padding: 0.5em;
}

.body--location-icon {
  color: var(--clr-accent);
}

.body--location {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
  color: var(--clr-text-main);
}

.body--location-url {
  color: var(--clr-text-light);
  font-size: 0.75rem;
}

.body--title {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.body--date {
  font-weight: 700;
}

.body--description {
  max-width: 50rem;
  margin-top: 2em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}
